<div class="flex justify-center bg-gray-100 p-4">
  <div class="w-full bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Registrar Vehículo</h2>

    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
      <div class="columns-2">
        <!-- nit del cliente -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>NIT del cliente</mat-label>
          <mat-select formControlName="clientId">
            @for (client of clients; track $index) {
            <mat-option [value]="client.clientId">
              {{ client.nit }}
            </mat-option>
            }
          </mat-select>
          @if (vehicleForm.get('clientId')?.hasError('required')) {
          <mat-error>El nit es obligatorio</mat-error>
          }
        </mat-form-field>

        <!-- Placa -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>Placa</mat-label>
          <input
            matInput
            (keyup)="searchVehicle()"
            formControlName="licencePlate"
            placeholder="Ingrese la placa"
          />
          @if (vehicleForm.get('licencePlate')?.hasError('required')) {
          <mat-error>La placa es obligatoria</mat-error>
          }
        </mat-form-field>

        <!-- Marca -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>Marca</mat-label>
          <input matInput formControlName="brand" placeholder="Ingrese la marca" />
          @if (vehicleForm.get('brand')?.hasError('required')) {
          <mat-error>La marca es obligatoria</mat-error>
          }
        </mat-form-field>

        <!-- Modelo -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="model" placeholder="Ingrese el modelo" />
          @if (vehicleForm.get('model')?.hasError('required')) {
          <mat-error>El modelo es obligatorio</mat-error>
          }
        </mat-form-field>

        <!-- Año -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>Año</mat-label>
          <input
            matInput
            type="number"
            formControlName="year"
            placeholder="Ingrese el año (ej. 2023)"
          />
          @if (vehicleForm.get('year')?.hasError('required')) {
          <mat-error>El año es obligatorio</mat-error>
          } @if (vehicleForm.get('year')?.hasError('pattern')) {
          <mat-error>El año debe ser un valor de 4 dígitos</mat-error>
          }
        </mat-form-field>

        <!-- Color -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>Color</mat-label>
          <input matInput formControlName="color" placeholder="Ingrese el color" />
          @if (vehicleForm.get('color')?.hasError('required')) {
          <mat-error>El color es obligatorio</mat-error>
          } @if (vehicleForm.get('color')?.hasError('maxlength')) {
          <mat-error>El color no debe exceder 30 caracteres</mat-error>
          }
        </mat-form-field>

        <!-- tipo de mantenimiento preventivo/correctivo -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>Tipo de de mantenimiento</mat-label>
          <mat-select formControlName="typeJob">
            @for (typeJob of typeJobs; track $index) {
            <mat-option [value]="typeJob.typeJobId" (click)="setTypeJobSelected()">
              {{ typeJob.nameTypeJob }}
            </mat-option>
            }
          </mat-select>
          @if(typeJobSelected){
          <mat-hint class="text-sm">{{ typeJobSelected }}</mat-hint>
          } @if (vehicleForm.get('typeJob')?.hasError('required')) {
          <mat-error>El nit es obligatorio</mat-error>
          }
        </mat-form-field>

        <!-- servicios requeridos -->
        <mat-form-field floatLabel="always" class="w-full mb-4">
          <mat-label>Servicios requeridos (puedes seleccionar varias)</mat-label>
          <mat-select formControlName="services" multiple>
            @for (service of servicesTypies; track $index) {
            <mat-option [value]="service.serviceTypeId">
              {{ service.nameServiceType }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Descripción del problema -->
      <mat-form-field floatLabel="always" class="w-full mb-4 h-40">
        <mat-label>Descripción del problema</mat-label>
        <textarea matInput formControlName="descriptionProblem"></textarea>
        @if (vehicleForm.get('descriptionProblem')?.hasError('required')) {
        <mat-error>La descripción es obligatoria</mat-error>
        }
      </mat-form-field>

      <!-- Botón de envío -->
      <button matButton="filled" color="primary" class="w-full mt-4 !rounded-none" type="submit">
        Guardar cambios
      </button>
    </form>
  </div>
</div>
