<div class="p-4">
  <h2 class="text-2xl font-bold text-center bg">Lista de Usuarios</h2>

<div class="flex gap-4 items-center justify-start p-3 rounded-lg shadow-md bg-gray-200">
  <button
    mat-button
    color="primary"
    class="!rounded-full px-6 py-2 bg-blue-100 hover:bg-blue-200"
    (click)="getUsersByIsActive(true)"
  >
    TODOS
  </button>

  <button
    mat-button
    class="!rounded-full px-6 py-2 bg-green-100 hover:bg-green-200"
    (click)="getUsersByIsActive(true)"
  >
    ACTIVOS
  </button>

  <button
    mat-button
    class="!rounded-full px-6 py-2 bg-red-100 hover:bg-red-200"
    (click)="getUsersByIsActive(false)"
  >
    DESACTIVADOS
  </button>
</div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="rolId">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element">{{ getRoleName(element.rolId) }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Teléfono</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.active === true ? 'Activo' : 'Desactivado' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button matIconButton title="Editar"><mat-icon>edit</mat-icon></button>
        <button
          matIconButton
          (click)="updateUser(element)"
          title="{{ element.active === true ? 'Desactivar' : 'Activar' }}"
        >
          <mat-icon>{{
            element.active === true ? 'do_not_disturb_off' : 'data_saver_on'
          }}</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
