<div class="flex items-center min-h-screen justify-center bg-gray-100 p-4">
  <div class="w-full max-w-xl bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Registrar usuario</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Rol -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rolId">
          <mat-option *ngFor="let role of roles" [value]="role.rolId" (click)="verifyRole()">
            {{ role.nameRol }}
          </mat-option>
        </mat-select>
        @if (registerForm.get('rolId')?.hasError('required')) {
        <mat-error>El rol es obligatorio</mat-error>
        }
      </mat-form-field>

      @if(showTypeSupplier){
      <!-- Tipo de proveedor -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Tipo de proveedor</mat-label>
        <mat-select formControlName="supplierType">
          <mat-option *ngFor="let supplierType of supplierTypes" [value]="supplierType">
            {{ supplierType }}
          </mat-option>
        </mat-select>
        @if (registerForm.get('supplierType')?.hasError('required')) {
        <mat-error>El tipo de proveedor es obligatorio</mat-error>
        }
      </mat-form-field>
      }

      <!-- Nombre de usuario -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="username" placeholder="Ingrese un nombre de usuario" />
        @if(registerForm.get('username')?.hasError('required')) {
        <mat-error>El nombre de usuario es obligatorio</mat-error>
        }
      </mat-form-field>

      <!-- Email -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="usuario@gmail.com" />
        @if(registerForm.get('email')?.hasError('required')) {
        <mat-error>El correo es obligatorio</mat-error>
        } @if(registerForm.get('email')?.hasError('email')) {
        <mat-error>Ingresa un correo válido</mat-error>
        }
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
        <button
          type="button"
          matIconButton
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Nombre -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Nombres" />
        @if(registerForm.get('name')?.hasError('required')) {
        <mat-error>El nombre es obligatorio</mat-error>
        }
      </mat-form-field>

      <!-- Apellido -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="last_name" placeholder="Apellidos" />
        @if(registerForm.get('last_name')?.hasError('required')) {
        <mat-error>El apellido es obligatorio</mat-error>
        }
      </mat-form-field>

      <!-- Teléfono -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          formControlName="phone"
          placeholder="(502) 1234-5678"
          minlength="8"
          maxlength="8"
        />
        @if (registerForm.get('phone')?.hasError('required')) {
        <mat-error>El teléfono es obligatorio</mat-error>
        }
      </mat-form-field>

      @if(shwoInputNit){
      <!-- NIT -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>NIT</mat-label>
        <input matInput formControlName="nit" placeholder="12345678" minlength="8" maxlength="8" />
        @if (registerForm.get('nit')?.hasError('required')) {
        <mat-error>El NIT es obligatorio</mat-error>
        }
      </mat-form-field>

      <!-- Dirección -->
      <mat-form-field floatLabel="always" class="w-full mb-4">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address" placeholder="Dirección completa" />
        @if (registerForm.get('address')?.hasError('required')) {
        <mat-error>La dirección es obligatoria</mat-error>
        }
      </mat-form-field>
      }

      <!-- Botón registrar -->
      <button matButton="filled" class="w-full mt-4 !rounded-none" type="submit">
        Guardar cambios
      </button>
    </form>
  </div>
</div>
