<mat-sidenav-container class="h-screen">
  <!-- Sidebar -->
  <mat-sidenav mode="side" opened class="w-72 bg-gray-900 text-white">
    <div class="p-4 text-xl font-bold border-b border-gray-700">Administrador</div>

    <nav class="flex flex-col p-2 space-y-2">
      <!-- Gestión de usuarios -->
      <div>
        <h3 class="px-3 py-2 text-sm font-semibold uppercase text-gray-400">Gestión de usuarios</h3>
        <a
          routerLink="list-users"
          routerLinkActive="bg-gray-800 text-white"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">group</mat-icon>
          Lista de usuarios (activar/desactivar)
        </a>
        <a
          routerLink="register-user"
          routerLinkActive="bg-gray-800 text-white"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">person_add</mat-icon>
          Agregar usuario
        </a>
      </div>

      <!-- Gestión de vehiculos -->
      <div>
        <h3 class="px-3 py-2 text-sm font-semibold uppercase text-gray-400">
          Gestión de vehiculos
        </h3>
        <a
          routerLink="register-vehicle"
          routerLinkActive="bg-gray-800 text-white"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">add_circle</mat-icon>
          Agregar vehículo
        </a>
      </div>

      <!-- Gestión de servicios -->
      <div>
        <h3 class="px-3 py-2 text-sm font-semibold uppercase text-gray-400">
          Gestión de servicios y mantenimientos
        </h3>
        <a
          routerLink="jobs"
          routerLinkActive="bg-gray-800 text-white"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">build</mat-icon>
          Tipos de mantenimiento
        </a>
        <a
          routerLink="list-services"
          routerLinkActive="bg-gray-800 text-white"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">home_repair_service</mat-icon>
          Servicios
        </a>
        <a
          routerLink="/assignment"
          routerLinkActive="bg-gray-800 text-white"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">assignment</mat-icon>
          Asignar trabajos
        </a>
        <a
          routerLink="/solicitudes"
          routerLinkActive="bg-gray-800"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">check_circle</mat-icon>
          Aprobar / Rechazar solicitudes
        </a>
      </div>

      <!-- Inventario de repuestos -->
      <div>
        <button
          (click)="openParts = !openParts"
          class="px-3 py-2 text-sm font-semibold uppercase text-gray-400"
        >
          <span class="flex-1 text-left whitespace-nowrap">Gestión de repuestos</span>
          <mat-icon  class="transition-transform {{ openParts ? 'rotate-90' : '' }}"
            >chevron_right</mat-icon
          >
        </button>

        <!-- Submenu -->
        @if (openParts) {
        <div class="ml-4 mt-1 space-y-1">
          <a
            routerLink="list-parts"
            routerLinkActive="bg-gray-800 text-white"
            class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
          >
            <mat-icon class="mr-2">inventory</mat-icon>
            Inventario de repuestos
          </a>
          <a
            routerLink="register-part"
            routerLinkActive="bg-gray-800 text-white"
            class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
          >
            <mat-icon class="mr-2">extension</mat-icon>
            Registrar repuestos
          </a>
          <a
            routerLink="add-inventory"
            routerLinkActive="bg-gray-800 text-white"
            class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
          >
            <mat-icon class="mr-2">add_box</mat-icon>
            Agregar repuesto a Inventario
          </a>
        </div>
        }
      </div>

      <!-- Supervisión de operaciones -->
      <div>
        <h3 class="px-3 py-2 text-sm font-semibold uppercase text-gray-400">
          Supervisión de operaciones
        </h3>
        <a
          routerLink="list-jobs"
          routerLinkActive="bg-gray-800 text-white"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">visibility</mat-icon>
          Trabajos en curso
        </a>
        <a
          routerLink="/reportes"
          routerLinkActive="bg-gray-800"
          class="flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">bar_chart</mat-icon>
          Reportes y costos
        </a>
      </div>

      <div>
        <h3 class="px-3 py-2 text-sm font-semibold uppercase text-gray-400">
          Configuración y ajustes
        </h3>
        <button
          type="button"
          routerLinkActive="bg-gray-800"
          class="w-full flex items-center px-3 py-2 rounded-lg hover:bg-gray-800 hover:text-white"
        >
          <mat-icon class="mr-2">logout</mat-icon>
          Cerrar sesión
        </button>
      </div>
    </nav>
  </mat-sidenav>

  <!-- Contenido -->
  <mat-sidenav-content class="p-6 bg-gray-100">
    <h1 class="text-xl font-bold ml-4">Taller Central - Módulo Administrador</h1>
    <button mat-icon-button (click)="toggleSidenav()" class="md:hidden">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
